body {
  padding: 0;
  margin: 0;
  background-color: #2b2e63;
  overflow: hidden;
}

#title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 150px;
  text-align: center;
  color: #1e90ff;
  opacity: 0.8;

  margin: 100px 0;
}

footer {
  width: 100%;
  height: 80px;

  background-color: #3d42a0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;

  p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
  }
}

.logo-container {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  user-select: none;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 300px;
}

.logo-element {
  position: absolute;
  width: 100%;

  opacity: 0.5;
}

@media only screen and (max-width: 900px) {
  #title {
    font-size: 14vw;
  }
}
